<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clevelandmetroparks.trailsapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cleveland Metroparks</name>
    <description>
        Find parks, trails, and amenities in Cleveland, Ohio with Cleveland Metropark's mobile app.
    </description>
    <author email="svm@clevelandmetroparks.com" href="http://www.clevelandmetroparks.com/">
        Cleveland Metroparks
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="splashscreen" value="screen" />
    <preference name="splashscreendelay" value="4000" />
    <preference name="backupWebStoage" value="local" />
</widget>
