body,.ui-widget {
    font-family: Verdana,Arial,sans-serif;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
}

.above_map {
    z-index:500;
}

.fakelink {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

.popup_title {
    font-size:10pt;
    font-weight:bold;
    margin-bottom:0.25em;
}

.popup_line {
    clear:both;
    margin:0;
}

.alert {
    background-color:yellow;
    color:red;
}

td,th {
    vertical-align:top;
}

div.wkt {
    display:none;
}

div.lat_driving {
    display:none;
}

div.lng_driving {
    display:none;
}

/* the legend swatches in the Layers panel */

.legend {
    display:none;
    margin-left:30px;
}


/* Leaflet Zoom panel, allow buttons to be disabled */

.leaflet-control-zoom a.disabled {
    display:none;
}

.leaflet-control-zoom a.only {
    margin:0;
}



/* Directions panel */

#page-directions {
}
#page-directions div[data-role="fieldcontain"] {
    border-bottom:0 none transparent;
}
#directions_list {
    margin-top:1em;
}




/* for the Welcome panel and the About This App panel */

.disclaimer {
    font-size:8pt;
}

.disclaimer b {
    font-size:10pt;
}


#map-location-warnings {
    position:absolute;
    top:0;
    right:0.5em;
    z-index:1000;

    text-align:right;
    max-width:75%; /* keep it from running into left-side controls on small displays */

    color:red;
    font-weight:bold;
    font-size:10pt;
}

#page-map > .ui-content {
    padding:0;
}



#page-find-pois ul[data-role="listview"] img.ui-li-icon {
    width:20px;
    height:20px;
}

/* global font stuff */

input[type="text"] {
    text-align:center;
}

.ui-header {
    font-family: Montserrat;
}


/* Details panel */

#page-details h2 {
    font-size:13pt;
    margin-top:0;
    text-align:center;
}
#page-details div.description {
    margin-bottom:2em;
}
#page-details div.directions_buttons {
    text-align:center;
}
#page-directions h2 {
    font-size:13pt;
    margin-top:0;
    text-align:center;
}


/* jQuery Mobile style overrides */

.ui-bar-a {
    background: none repeat scroll 0 0 #0D6B51;
    border: 1px solid #0D6B51;
}

.ui-btn-up-a {
    background: #0C5A40;
    border: 1px solid #111111;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: none;
}

.ui-body-c, .ui-overlay-c {
    background: #ECE4CF;
}


/* Map panel */

#map_canvas {
    position:absolute; top:0; left:0;
    margin:0; padding:0;
    width:100%; height:100%;
}

#toolbar {
    position:absolute; left:0; bottom:0;
    height:46px;
    width:100%;
    background-color:black;

    text-align:center;
}
#toolbar table {
    width:100%;
    border-collapse:collapse;
}

/* supressed cuz we want to hide Directions button and that doesn't work well with last-child and cells having borders (CSS3 doesn't have :visible)
#toolbar table td {
    border-right:1px solid silver;
    border-left:1px solid silver;
}
#toolbar table td:first-child {
    border-left:0 none transparent;
}
#toolbar table td:last-child {
    border-right:0 none transparent;
}
*/

.ui-li-has-count .ui-li-count {
    top:50%;
    right: -25px;
}

#change_directions_target {
    float:right;
    text-align:right;
    font-size:8pt;
}

#directions_target_title {
    text-align:center;
    font-size:110%;
    font-weight:bold;
}

#directions_getgps {
    float:right;
    text-align:right;
    font-size:8pt;
    margin-top:10px;
}

.leaflet-popup .fakelink {
    font-size:12pt;
}

#getdirections_disabled {
    text-align:center;
    font-size:12pt;
}

#info-content {
    min-height:3em;
}


/* input widgets inherit the background color, making them nearly invisible! */

.ui-content input[type="text"] {
    background:none repeat scroll 0 0 #F9F9F9;
}

.ui-content input[type="password"] {
    background:none repeat scroll 0 0 #F9F9F9;
}

.ui-content textarea {
    background:none repeat scroll 0 0 #F9F9F9;
}

.ui-content select {
    background:none repeat scroll 0 0 #F9F9F9;
}


/* jQuery Mobile sliders have that text field; hide them */
input.ui-slider-input, .ui-field-contain input.ui-slider-input {
    display: none;
}
div.ui-slider {
    height:25px;
}
.ui-field-contain div.ui-slider {
    width: 75%;
}



/* the scalebar needs to clear the toolbar */

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 55px;
}


/* Leaflet popups which are large enough to induce scrolling, can't really scroll */
.leaflet-popup-scrolled .leaflet-popup-content {
    overflow:hidden;
}


/* these buttons go over the map, and the Scale control is hidden (it's added in common, so can't disable it only in mobile) */

#mapbutton_settings {
    position:absolute;
    bottom:52px;
    left:5px;

    cursor:pointer;

    z-index:200;
}
#mapbutton_gps {
    position:absolute;
    bottom:52px;
    right:5px;

    cursor:pointer;

    z-index:200;
}

.leaflet-control-scale {
    display:none;
}


/* inside a a textnowrap do not force text inputs to wrap lines */

.textnowrap input.ui-input-text,textarea.ui-input-text {
    display:inline;
}

.textnowrap td {
    vertical-align:middle;
}


/* the Share panel and the Settings panel, have panels which need to LOOK like read-only text boxes
  but which are really DIVs, cuz iOS forgot to add a select and copy function!
*/

div.fakeinput {
   text-align: left;
    background: none repeat scroll 0 0 #F9F9F9;
    font-size: 16px;
    line-height: 1.4;
    width: 99%;
    padding: 0.4em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
    border: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    height:1.4em;
}


/* the buttons in the top Header bar, on each page; Cleveland asked for a tan brown color */

.ui-btn-up-a {
    background: none repeat scroll 0 0 #AB8E5A;
    color: #333333;
}


/* in the Directions panel, the buttons to finally get directions */

#directions_button_wrapper .ui-btn-inner {
    background: none repeat scroll 0 0 #AB8E5A;
    color:#333333;
    text-shadow:0 1px 0 #CCCCCC;
}


/*
 * Nearby page: the checkboxes take on a margin and mess up the fieldset, for some reason
 */
#nearby_config .ui-checkbox {
    margin:0;
}

/* toggle for sorting alphabetically or by distance, hidden by default but added as searches happen */

.sortpicker {
    text-align:center;
}
.sortpicker a {
    font-weight:normal;
    text-decoration:underline;
}
.sortpicker a.active {
    font-weight:bold;
    color:black !important;
    text-decoration:none;
}



/* Elevation profile wrapper */
div.elevationprofileimage {
}

div.elevationprofileimage img {
}



/* icons in the Find menu */

#page-find ul[data-role="listview"] li img {
    margin-top: -5px; /* hack to make the icons align to the text */
}


/* TRAIL FINDER and FEATURED LOOPS */

#trailfinder_typeicons {
    text-align:center;

    margin-bottom:1em;
}
#trailfinder_typeicons img {
    cursor:pointer;
}

#loops_typeicons {
    text-align:center;
}
#loops_typeicons img {
    cursor:pointer;
}

#loops_filter_distancepicker {
    text-align:center;
    margin-top:5px;
}
#loops_filter_distancepicker img {
    cursor:pointer;
}
